*{
 box-sizing: border-box;
 margin: 0 ;
 padding: 0 ;
}
.container-1{
 width: 100% ;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
}
.parent-1{
 width: 1350px;
 height: 150px; 
 /* border: 2px  solid rebeccapurple; */
 font-family: 'Dancing Script';
 position: relative;
}
.pic-1{
 margin-left: 200px;
}

.t-1{ float: left;    color: rgb(65, 64, 61);      text-decoration: none;  font-size: x-large;   list-style: none } 
.t-2{ float: left;    color: rgb(65, 64, 61);      text-decoration: none;  font-size: x-large;   list-style: none } 
.t-3{ float: left;    color: rgb(65, 64, 61);      text-decoration: none;  font-size: x-large;   list-style: none } 
.t-4{ float: left;    color: rgb(65, 64, 61);      text-decoration: none; font-size: x-large;   list-style: none } 
.t-5{ float: left;    color: rgb(65, 64, 61);      text-decoration: none;  font-size: x-large;   list-style: none } 

.t-1{  transform: translateX(320px );  margin-top: -60px; } 
.t-2{  transform: translateX(450px );  margin-top: -60px; }
.t-3{  transform: translateX(580px );  margin-top: -60px; }
.t-4{  transform: translateX(680px );  margin-top: -60px; }
.t-5{  transform: translatex(820px );  margin-top: -60px;  }

.link{
 text-decoration: none;
 color: rgb(65, 64, 62);
 position: relative;

}
.icons{
 margin-top: -50px;
 font-size: xx-large;
 float:left;
 margin-left: 980px;
 margin-top: -60px;
}
 .icons .ii-zero{
  font-size: small;
  background-color: rgb(186, 185, 183);
  border-radius: 10px;
  margin-left: -10px;
}

.table-1{
  overflow: auto;
  position: absolute;
  padding: 100px -20px;
  top: 0 ;
  left:0px ;
  transform: scale(0); 
  width: 250px;
  border: 1px solid rgb(103, 99, 99);
  height: auto;
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: 1s;
  background-color: rgb(255, 255, 255);
 
}
.t-1:hover .table-1{
    
 transform: scale(1);
 
}
.table-1 .table-2 .tablee-a{
  text-decoration: none;
  color: rgb(58, 58, 56);
  font-weight: 500;
        
}
.table-2{
 float: left;
 margin-left: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style: none;
}
.table-2 .first{
 float: left;
 font-family: Georgia, 'Times New Roman', Times, serif;
 margin-top: -15px;
}
.link{
padding: 5px 5px;
}
 .link::after{
 content: "";
 position: absolute;
 border-style: solid;
 border-color:  rgb(176, 173, 163);
 border-width: 2px 0; 
 top: 0;
 left: 0;
 width: 98%;
 height:98%;
 transition: 1s;
 transform: scale(0,1);}
 
.link:hover::after{
  transform: scale(1,1);
}
.link::before{
 content: "";
 position: absolute;
 border-style: solid;
 border-color:  rgb(176, 173, 163);
 border-width: 0 2px ;
 top: 0;
 left: 0;
 width: 96%;
 height: 100%;
 transition: 1s;
 transform: scale(1,0);
}
.link:hover::before{transform: scale(1,1)}
/* ////////////////////////////////////////////////////////////////////////////////////// */
.main{
 width: 80%;
 margin-left: 150px;
 display: flex;
 flex-wrap: wrap;
}
.main .img{ 
 position: relative;
  }
.title{
 width: 500px;
 font-size: 40px;
 color:rgb(115, 114, 111);
 position: absolute;
 top: 300px;
 left:300px ;
 font-family: 'Dancing Script';
}
.title button{
 margin-left: 40px;   
 width: 100px;
 height: 30px;
 border-radius: 10px;
 border: 0px;
 background-color: rgb(193, 189, 183);
 box-shadow: 2px 2px 20px 10px rgb(241, 241, 232);
 color:rgb(69, 68, 63);
 margin-top: 40px;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */
.category-container{
 width: 95%;
}
.category-head{
 margin-top: 50px;
 width: 600px;
 height: 100px;
 margin-left: 400px;
}
.category-titl{
 text-align: center;
 font-size: 40px;
 color:rgb(115, 114, 111) ;
}
.category-line{
 width: 90px;
 height: 3px;
 background-color: rgb(78, 78, 76);
 margin: auto;
 margin-top: 15px;
}
.category-head:hover .category-line{
 width: 200px;
 transition: 1s;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
.parent-2{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content:center;
}
.img-1{
 margin-left: 20px;
}
.img-1-aa{
margin-left: 105px;
}
.img{
 width: 270px;
 height: 300px;
 background-size: cover;
}
span{
 font-size: x-large;
 color: rgb(94, 93, 92);
}
.category-i{
 color: rgb(132, 131, 125);
 margin-left: 10px;
 background-color:rgb(205, 181, 194) ;
 font-size: 20px;
 width: 20px;
 height: 20px;
 text-align: center;
 opacity: 0;
}
.img-1:hover i{
 opacity: 1;
}
.img-1-aa:hover i{
 opacity: 1;
}
/* //////////////////////////////////////////////////////////////////////////////// */
.artical-parent{
 width: 80%;
 display: grid;
 grid-template-columns: 50%  28%  28%; 
 margin-left: 150px;
 margin-top: 50px;
 flex-wrap: wrap;

}
.artical-1{
 height: 300px;
 background-color: rgb(225, 224, 223);
 overflow: auto;
}
.icon-artical{
 font-size: 40px;
 color: rgb(85, 83, 81);
 float: left;
 margin-left: 40px;
}
.p-artical{
 float: left;
 margin-left: 15px;
 margin-top: 10px;
 font-size: x-large;
 font-weight: 800;
}
.artical-2{
 background-image: url(../img/pexels-photo-11254033.jpeg);   
 background-size: cover;
 margin-left: 20px;
}
.artical-3{
 background-image: url(../img/pexels-photo-6958729.jpeg);
 background-size: cover;
 margin-left: 20px;
}
.p2-artical{
 margin-top: 30px; 
 margin-left: 20px;   
 font-size: 20px;

}
h2{
 margin-left: 20px;
 color: rgb(124, 123, 123); 
}
.span-artical .art{
color: rgb(118, 114, 115);
}
.span-artical{
 margin-top: 20px;    
}
h4{
 margin-top:16px ;
 transform: translate(-140px);
 font-weight: 400;
}
.lines{
margin-top: 10px;
}
.hr{
 width: 60px;
 height: 3px;
 background-color: rgb(119, 126, 124);
 border-radius: 5px;
 float: left;
 transform: translate(300px);
margin: 10px;
}
.artical-2:hover{
 transform: scale(1.05);
 transition: 1.5s; 
}
.artical-3:hover{
 transform: scale(1.05);
 transition: 1.5s; 
}
/* ///////////////////////////////////////////////////////////////////////////////// */

.icons-container{
 width: 90%;
 margin-top: 50px;
}
.icons-content{
 overflow: auto;
 margin-left: 130px;
 width: 100%;
  
}
.icons-item{
 margin-left: 40px;
 float: left;
 border-right: 1px solid gray;
 padding-right: 15px;
 width: 180px;
 padding-left: 20px;
 height: 140px;
}
.icons-item-i{
 position: relative;
}
.icons-i{
 font-size: 40px;
 color: rgb(165, 160, 160);
 text-align: center;
 margin-left: 30px;
 position: absolute;
 z-index: 7;
 transition: 0.5s;
}
.ii{
 position: absolute;
 color: rgb(85, 59, 59);
 opacity: 0;
}
.icons-item-i:hover .icons-i{
 transform: translateY(-150%);
}
.icons-item-i:hover .ii{
 opacity: 1;
 transform: translateY(10%);
}
.icons-titl{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-top: 60px;
 color: dimgray;
}
.icons-p{
 color: dimgrey;
 margin-left: -40px; 
 margin-top: 10px;
}
.last{
border: none;
}
.icon-hr{
 width: 88%;
 margin-left: 120px;
}
  /* /////////////////////////////////////////////////////////////////////////// */
.Featured-container{
  width: 90%;
  margin-top: 30px;
}
.Featured-head{
  width: 400px;
  height: 100px;
  margin-left: 500px;
  text-align: center;
}
.Featured-titl{
  font-size: 40px;
}
.Featured-lin{
  width: 90px;
  height: 2px;
  background-color: rgb(14, 13, 13);
  margin: auto;
  transition: 1s;
}
.Featured-head:hover .Featured-lin{
 width: 180px;
}
.Featured-p{
 overflow: auto;
 width: 900px;
 height: 100px;
 margin-top: -20px;
 margin-left: 220px;
}
.Featured-p-p{
 display: inline;
 float: left;
 font-size: 18px;
 margin-left: 50px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: rgb(99, 96, 96);
}
.parent-end{
 display: grid;
 grid-template-columns: 35%  35%  35%;
 margin-left: 170px;
 margin-top: -40px;
}

.Featured-img-img{
  height: 400px;
  width: 100%;
  position: relative;
  padding: 5px;
}
.Featured-icon{
 font-size: 30px;
 margin-left: 90px;
 position: absolute;
 margin-top: -230px;
 opacity: 0;
 transition: 1.5s;
 z-index: 5;

}
.Featured-i{
  transform: translate(-10px);
  color:white ;
  background-color: rgb(109, 108, 106);
  width: 40px;
  height:30px;
  border-radius: 10px;
  text-align: center;

  }
.foot:hover .Featured-icon{
 opacity: 1;
}
.Featured-img-img-hiddin{
  
 height: 400px;
 position: absolute;
 margin-top: -405px;
 opacity: 0;
 transition: 1.5s;
 margin-left:6px;
}
.Featured-img-img-hiddin:hover{
  transform: rotate(180deg);
  opacity: 1;
}
.Featured-pp{
  font-size: 20px;
}
.Featured-stars-s{
  color: rgb(252, 206, 4);
}